<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>Ionic Issues Demo Project</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <b>Ion Toggle Component</b>
                    <app-toggle-issue></app-toggle-issue>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <b>Ion Date Component</b>
                    <app-date></app-date>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <b>Ion Select Component</b>
                    <app-select></app-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <b>Ion Checkbox Component</b>
                    <app-checkbox></app-checkbox>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <b>Ion Radio Component</b>
                    <app-radio-button></app-radio-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <b>Ion Modal Component</b><br>
                    <ion-button (click)="openModal()">Open Modal</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-app>